.list{
    ul, li {
        margin: auto;
        padding: auto;
        list-style: none;
    }

    &__viewport {
        position: relative;
        overflow: auto;
    }
    
    &__item {
        position: absolute;
        left: 0;
    }
}